@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt&display=swap');

h1 {
    font-family: 'Rock Salt', cursive;
}

.card {
    min-width: 125px;
    max-width: 300px;
}

.card-text {
    color: white;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.date {
    color: #E0E0E0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1500px;
    }
}